@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/roboto-condensed/roboto-condensed-webfont.woff2') format('woff2'),
         url('fonts/roboto-condensed/roboto-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/bebas-neue/bebasneue-webfont.woff2') format('woff2'),
         url('fonts/bebas-neue/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* FONTS */
    --titles: "Bebas Neue", sans-serif;
    --headings: "Roboto Condensed", sans-serif;
    --regular: "Arial", sans-serif;

    /* COLORS */
    --gray: #333333;
    --orange: #F15A24;
    --white: #FFF;
    --black: #000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: var(--headings), var(--regular);
    margin: 0;
}

h2, h3, h4, h5 {
    font-family: var(--titles), var(--regular);
    margin: 0;
}

* {
    font-family: var(--regular);
}

ul {
    list-style-type: none;
}

.header {
    font-family: var(--headings), var(--regular);
    background-color: var(--gray);
    width: 100%;
    margin: 0;
    position: relative;
}

#menu {
    color: var(--white);
    list-style-type: none;
    padding: 0;
    margin: -45px 0 -1% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#menu li {
    cursor: pointer;
}

#menu a, #menu a:visited {
    margin-right: 2%;
    margin-bottom: 1%;
    margin-right: 2%;
    color: var(--white);
}

#menu a:hover {
    text-decoration: underline;
}

#logo {
    width: 30%;
    display: inline;
    vertical-align: middle;
    margin-top: -2%;
    margin-left: -5%;
    margin-bottom: -2%;
}

.header::after {
    content: '';
    display: block;
    position: relative;
    bottom: -1.8vw;
    left: 0;
    width: 100%;
    height: 3vw;
    background: linear-gradient(to bottom right, var(--orange) 10%, transparent 10%);
    transform: rotate(-1deg);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--orange);
    z-index: -1; /* Set a negative z-index to ensure it's behind the header but in front of other content */
}

.main-content {
    flex: 1;
    margin-top: 5%;
    position: relative;
}

.jobs > ul > li {
    width: 80%;
    position: relative;
    z-index: 2; /* Ensure the job listings are above other elements */
}

.jobs > ul > li > a, .jobs > ul > li > a:visited {
    text-decoration: none;
    color: var(--black);
}

.orange-background {
    background-color: var(--orange);
}

.white-background {
    background-color: var(--white);
} 

.jobs {
    list-style-type: none;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Default SVG color */
.job_icon > img {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    transition: filter 0.1s ease;
    height: 10%;
    width: 10%;
    float: right;
}

/* SVG animation */
.job_icon > img:hover {
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(113deg) brightness(108%) contrast(100%);
    transition: filter 0.1s ease;
}

.jobs > ul > li > h2 {
    color: var(--white);
}

.profile, .login, .job, .register, .applications {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.profile-img-container {
    position: relative;
    display: inline-block;
}

#profile-img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.file-input {
    display: none;
}

#my-profile, #my-applications {
    color: var(--orange);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 0.8em; 
    font-weight: bold;
    color: var(--black); 
    margin-bottom: 5px;
}

#form-motivation {
    font-size: 1.2em; 
    border: none;
    border-bottom: 2px solid #ff5733; 
    width: 100%;
    padding: 5px 0;
    font-style: italic;
    color: var(--gray)
}

.form-input {
    font-size: 1.2em; /* Larger font size for inputs */
    border: none;
    border-bottom: 2px solid #ff5733; /* Optional: match the color from the image */
    width: 100%;
    padding: 5px 0;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid #ff4500; /* Optional: change color on focus */
}

#profile-img {
    width: 100px;
    height: 100px;
}

#login-title, #register-title {
    color: var(--orange);
}

.job {
    width: 50%;
}

.job > img {
    width: 10%;
    height: 10%;
}

.job > p {
    color: var(--gray);
    font-style: italic;
}

.job-info-line {
    display: flex;
}

.job-info-line > h3 {
    margin: 1% 2% 0% 0%;
}

#job-info-heading {
    color: var(--orange);
    font-family: var(--titles), var(--regular);
}

#profile-container {
    float: left;
    margin-right: 20px;
}

#profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#applications-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

#applications-table th {
    text-align: left;
    background-color: #F26522;
    color: white;
    padding: 10px;
}

#applications-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#applications-table a {
    color: #F26522;
    text-decoration: none;
}

#applications-table a:hover {
    text-decoration: underline;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

/* Clear floats */
.applications::after {
    content: "";
    clear: both;
    display: table;
}

.check-icon {
    width: 24px;
    height: 24px;
}

footer {
    background-color: var(--gray);
    color: var(--white);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 1px;
    z-index: auto;
}

footer > div {
    margin: 1%;
    width: 30%;
}

footer > div * {
    margin: 0;
}

footer > img {
    width: 30%;
    height: 30%;
    display: inline;
    vertical-align: middle;
    margin-top: -1%;
    margin-left: -5%;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: -1.8vw; /* Adjust based on the desired size of the slope */
    left: 0;
    width: 100%;
    height: 3vw; /* Adjust based on the desired size of the slope */
    transform: rotate(-1deg);
    /* background: linear-gradient(to top right, var(--orange) 10%, transparent 10%); */
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
    z-index: -1; /* Place it in front of the footer content */
    background-color: var(--orange);
}
