<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <a href="/"><img id="logo" src="{{url_for('static', filename='img/vacit-logo-wit.png')}}"></a>
        {% block header %}
        <li id="menu">
        {% if current_user.is_anonymous %}
            <a href="/register.html"><ul>REGISTREREN</ul></a>
            <a href="/login"><ul>INLOGGEN</ul></a>
        {% else %}
            <a href="/profile"><ul>MIJN PROFIEL</ul></a>
            <ul>MIJN SOLLICITATIES</ul>
            <a href="/logout"><ul>UITLOGGEN</ul></a>
        {% endif %}
        </li>
        {% endblock %}
    </div>
    {% block content %}{% endblock %}
    {% block body %}{% endblock %}

    <footer>
        <img src="{{url_for('static', filename='img/vacit-logo-wit.png')}}">
        <div id="adress">        
            <h2>Adres</h4>
            <address>Papendorpseweg 95 <br> 3528 BJ Utrecht </address>
        </div>
        <div id="privacy">
            <h2>Privacy</h4>
            <p><i>Deze website is louter een proof of concept. Er kunnen geen rechten aan worden ontleend.</i></p>
        </div>

    </footer>
</body>
</html>