{% extends 'orange-base.html'%}

{% block head %}
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/users-line-solid.svg')}}"> 
    <title>Vac!T</title>
{% endblock %}

{% block content %}
        <div class="main-content">
            <div class="jobs">
                <ul>
                {% for job in jobs %}
                    <li>
                        <a href="{{ url_for('job_detail', job_id=job['job_id']) }}">
                            <img class="job_icon" src="{{url_for('static', filename=job['technique_icon'])}}"/>
                            <span>{{ job['post_date'] }}</span>
                            <h2>{{ job['title'] }} voor {{ job['company_name'] }}</h2>
                            
                            <p><i>{{ job['description'] }}</i></p>
                           <img id="arrow" src="{{ url_for('static', filename='img/icons8-arrow-50.png') }}"/>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
